@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* -------------------initialize css */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--black);
  background-color: var(--white);
}

a,
a:link,
a:visited {
  color: var(--white);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 64px;
  right: 165px;
  z-index: 2;
}

nav ul {
  display: flex;
  gap: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--white);
}

nav ul li {
  list-style: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  height: 750px;
  position: relative;
  background-color: var(--black);
  overflow: hidden;
}

header h1 {
  display: inline-block;
  font-family: 'Josefin Sans';
  font-size: 72px;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: left;
  padding: 40px;
  border: 2px solid var(--white);
  position: absolute;
  left: 165px;
  bottom: 146px;
  color: var(--white);
}

.about {
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about .img-container {
  height: 600px;
  flex-basis: 731px;
  filter: grayscale(100%);
  background-image: url(./assets/images/me.png);
  background-position: center top;
  background-size: cover;
  transition: all 0.3s;
}

.about .img-container:hover {
  filter: initial;
}

.about .text {
  color: var(--black);
  padding: 96px 0 0 96px;
  background-color: var(--white);
  max-width: 550px;
  transform: translateX(-96px);
  align-self: flex-end;
}

.about .text h3 {
  font-family: 'Josefin Sans';
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about .text p {
  font-family: 'Alata';
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.projects {
  padding: 200px;
  padding-top: 0;
  overflow: hidden;
}

.projects .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.projects .title h3 {
  font-family: 'Josefin Sans';
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.projects .title a,
.work .intro a,
footer .contact-box a {
  font-family: 'Alata';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 5px;
  color: var(--black);
  padding: 13px 38px;
  border: 1px solid black;
  position: relative;
  z-index: 2;
  transition: all 0.3s;
  cursor: pointer;
}

.projects .title a:hover,
.work .intro a:hover,
footer .contact-box a:hover {
  border: 1px solid white;
  color: var(--white);
}

.projects .title a:hover::after,
.work .intro a:hover::after,
footer .contact-box a:hover:after {
  transform: translateY(0px);
  visibility: visible;
}

.projects .title a::after,
.work .intro a::after,
footer .contact-box a::after {
  content: '';
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateY(-100%);
  visibility: hidden;
  /* mix-blend-mode: lighten; */
}

.projects .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 400px));
  grid-template-rows: 675px;
  grid-auto-rows: 675px;
  gap: 30px;
  justify-content: center;
}

.projects .gallery .item {
  background-image: url('./assets/images/project-prova.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.521);
  background-color: white;
  position: relative;
  background-size: cover;
  background-position: center center;
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
}

.projects .gallery .item h4 {
  color: var(--white);
  font-family: 'Josefin Sans';
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects .gallery .item h4 img {
  width: 30px;
}

.projects .gallery .item .text-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 30px;
  overflow: hidden;
  transform: translateY(100%);
}

.text-back h3 {
  font-family: 'Josefin Sans';
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.text-back p {
  font-family: 'Alata';
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
  margin-bottom: 30px;
}

.text-back p:not(:nth-child(2)) {
  opacity: 1;
  margin-bottom: 15px;
}

.text-back .links {
  display: flex;
  gap: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 50px;
}

.text-back .links a {
  color: var(--black);
  text-transform: uppercase;
  text-decoration: underline;
}

.text-back .links a:hover {
  color: orange;
}

.work {
  padding: 200px;
  padding-top: 0;
  display: flex;
  gap: 125px;
}

.work .intro h3 {
  border-top: 1px solid var(--black);
  padding-top: 50px;
}

.work p {
  font-family: 'Alata';
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.work .intro h3 {
  font-family: 'Josefin Sans';
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.work .intro p:nth-child(2) {
  margin-bottom: 16px;
}

.work .intro p:not(:nth-child(2)) {
  margin-top: 16px;
  opacity: 1;
}

.work .intro a {
  margin-top: 50px;
  display: inline-block;
}

.work .text h4 {
  font-family: 'Josefin Sans';
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 80px;
  background-color: var(--black);
}

footer h3 {
  font-family: 'Josefin Sans';
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white);
}

footer .contact-box {
  background-color: var(--white);
  max-width: 700px;
  margin: 0 auto;
  border: 2px solid var(--black);
  padding: 100px;
  color: var(--black);
}

/* footer .contact-box:hover{
  background-color: var(--black);
  border: 2px solid var(--white);
  color: var(--white);
} */

footer .contact-box p {
  font-family: 'Alata';
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  opacity: 1;
}

footer .contact-box a {
  display: inline-block;
  margin-top: 30px;
}

.contact-me {
  position: fixed;
  right: -62px;
  top: 50%;
  transform: rotate(90deg);
  padding: 13px 38px;
  background-color: var(--black);
  border: 2px solid var(--white);
  cursor: pointer;
}

.content {
  position: absolute;
  right: 165px;
  bottom: 0px;
}

.tagcloud {
  font-size: 20px;
  font-weight: 650;
  color: var(--white);
}
.tagcloud--item:hover {
  color: orange;
}

nav .mobile {
  display: none;
}

@media only screen and (max-width: 1700px) {
  .about {
    padding: 200px 100px;
  }

  .projects {
    padding: 200px 100px;
    padding-top: 0;
  }

  .work {
    padding: 200px 100px;
    padding-top: 0;
  }
}

@media only screen and (max-width: 1700px) {
  .content {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  header h1 {
    left: 50px;
    bottom: 100px;
  }

  .about {
    flex-direction: column;
    padding-bottom: 100px;
  }

  .about .img-container {
    align-self: stretch;
  }

  .about .text {
    transform: translateY(-96px) translateX(-20px);
  }

  nav {
    right: 65px;
  }

  .work {
    padding: 200px 70px;
    padding-top: 200px;
    padding-top: 0;
    gap: 50px;
  }
}

@media only screen and (max-width: 800px) {
  header h1 {
    left: 30px;
    bottom: 70px;
    font-size: 52px;
    padding: 20px;
  }

  .about {
    padding: 100px 50px;
    padding-bottom: 0;
    padding-top: 100px;
  }

  .about .img-container {
    height: 400px;
    flex-basis: 431px;
  }

  .about .text {
    padding: 36px 0 0 36px;
  }

  nav {
    right: 25px;
  }

  .work {
    padding: 100px 50px;
    gap: 100px;
    flex-direction: column;
  }

  .projects {
    padding: 100px 50px;
  }

  .projects .title {
    flex-direction: column;
    gap: 40px;
  }

  .projects .title h3 {
    text-align: center;
  }

  footer .contact-box {
    padding: 50px;
  }

  nav .desktop {
    display: none;
  }

  nav .mobile {
    display: initial;
    position: relative;
  }

  .mobile .burger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    cursor: pointer;
  }

  nav .mobile .nav-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav .mobile .nav-container .close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--black);
    border: none;
    cursor: pointer;
    box-sizing: content-box;
    padding: 10px;
  }

  nav .mobile .nav-container ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;
    font-family: 'Josefin Sans';
    font-size: 40px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  nav .mobile .nav-container ul li a:hover {
    text-decoration: none;
  }

  nav .mobile .nav-container ul li {
    border-bottom: 2px solid white;
  }
}

@media only screen and (max-width: 550px) {
  header h1 {
    left: 20px;
    bottom: 50px;
    font-size: 42px;
    padding: 17px;
  }

  .contact-me {
    right: -75px;
  }

  .about {
    padding: 100px 30px;
    padding-bottom: 0;
    padding-top: 100px;
  }

  .about .text h3 {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 28px;
  }

  .projects {
    padding: 100px 30px;
  }

  .projects .title h3 {
    font-size: 28px;
    line-height: 28px;
  }

  .projects .title {
    gap: 20px;
    margin-bottom: 50px;
  }

  .projects .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: 500px;
    grid-auto-rows: 500px;
  }

  .work {
    padding: 100px 30px;
  }

  footer {
    padding: 100px 30px;
  }

  footer .contact-box {
    padding: 25px;
  }
}
